@import-normalize;

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  padding-top: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;

  background-color: #e9e9f0;

  overflow: hidden;
}

.box {
  position: absolute;
  top: 10px;
  left: 45%;

  user-select: none;

  cursor: move;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 9999;

  background-color: #e9e9f0;
  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
}

.main-title {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.title-accent {
  position: relative;
  bottom: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  font-size: 18px;
  margin-left: 5px;
  border-radius: 40%;

  color: white;
  background-color: #f3c742;
}

.options-thumb {
  display: flex;
  align-items: center;
  gap: 5px;
}

.options-zoom-wrap {
  display: flex;
  gap: 3px;
}

.option-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 44px;

  border-radius: 2px;
  border: none;

  background-color: white;

  cursor: pointer;

  transition: background-color 300ms linear;
}

.option-btn:hover,
.option-btn:focus {
  background-color: #c5ccd4;
}

.zoom-select {
  appearance: none;
  width: 80px;
  height: 44px;
  text-align: center;

  border-radius: 2px;

  border: none;
  outline: none;

  background-color: white;

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;

  transition: background-color 300ms linear;
}

.zoom-select:hover,
.zoom-select:focus {
  background-color: #c5ccd4;
}

.header-icon {
  width: 24px;
  height: 24px;

  fill: black;
  stroke: black;
}

.icon {
  width: 16px;
  height: 16px;

  fill: inherit;
  stroke: inherit;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.categories-wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 30px;

  transition: transform 200ms linear;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;

  border-radius: 4px;
  border: 1px dashed #b0bec6;
}

.categories-list {
  display: flex;
  gap: 180px;

  padding: 0;
  margin: 0;
  list-style: none;

  color: white;

  transition: transform 200ms linear;
}

.categories-list .categories-item-wrap {
  background-color: #ffa77c;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: none;
  background-color: #cfd1d6;
  fill: white;
  stroke: white;

  cursor: pointer;
}

.success {
  background-color: #62ba7a;
}

.warning {
  background-color: #f3c742;
}

.danger {
  background-color: #dd5873;
}

.categories-thumb {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
}

.categories-item {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  gap: 20px;
}

.categories-input {
  max-width: 120px;
  height: 40px;
  outline: none;
  border: none;
  text-align: center;
  padding: 10px;
  transform: inherit;

  border: 2px solid #b0bec6;

  animation: appear 200ms ease-in-out;
}

.categories-input-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  animation: appear 200ms ease-in-out;
}

.categories-item-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  animation: appear 300ms ease-in-out;
}

.subcategory-title {
  text-align: center;
}

.buttons-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 4px;
  right: calc(-100% - 10px);
}

.subcategories-list__primary {
  display: flex;
  gap: 120px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.subcategories-list__secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.subcategories-list__primary .categories-item-wrap {
  background-color: #1cb2db;
}

.subcategories-list__secondary .categories-item-wrap {
  background-color: #b0bec6;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  top: 60px;
  left: 0;
  background-color: teal;
  width: 260px;
  height: 140px;
  padding: 20px;

  color: black;
  background-color: white;

  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
}

.modal-thumb {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-button {
  padding: 10px;
  background-color: #b0bec6;
  border: none;

  cursor: pointer;

  text-transform: uppercase;
  font-weight: 600;
  color: #9a9b9d;
  background-color: #f6f7f9;
}

.modal-button:disabled {
  cursor: not-allowed;
}
