@import-normalize;

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  padding-top: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;

  background-color: #f1f1f1;

  overflow: hidden;
}

.box {
  position: absolute;
  top: 10px;
  left: 50%;

  user-select: none;

  transform: translateX(-50%);

  cursor: move;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 9999;

  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
}

.main-title {
  font-size: 28px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.categories-wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 30px;

  transition: transform 200ms linear;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;

  border-radius: 4px;
  border: 1px dashed #b0bec6;
}

.categories-list {
  display: flex;
  gap: 180px;

  padding: 0;
  margin: 0;
  list-style: none;

  color: white;

  transition: transform 200ms linear;
}

.categories-list .categories-item-wrap {
  background-color: #ffa77c;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: none;
}

.categories-thumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categories-item {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  gap: 20px;
}

.categories-input {
  max-width: 120px;
  height: 40px;
  outline: none;
  border: none;
  text-align: center;
  padding: 10px;
  transform: inherit;

  border: 2px solid #b0bec6;

  animation: appear 200ms ease-in-out;
}

.categories-input-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  animation: appear 200ms ease-in-out;
}

.categories-item-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  animation: appear 300ms ease-in-out;
}

.subcategory-title {
  text-align: center;
}

.buttons-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 4px;
  right: calc(-100% - 10px);
}

.subcategories-list__primary {
  display: flex;
  gap: 120px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.subcategories-list__secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.subcategories-list__primary .categories-item-wrap {
  background-color: #1cb2db;
}

.subcategories-list__secondary .categories-item-wrap {
  background-color: #b0bec6;
}
